.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

.quote {
    background-color: bisque;
    padding: 10px;
    margin: 10px;
}
